.cw__container {
  --height: 30.3125em;
  /* --fw: 500; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 18.75em;
  height: var(--height);
  padding: 0 calc(var(--height) / 20);
  border: 2px solid black;
  border-radius: 0.45em;
  position: relative;
  font-family: Sans serif;
}

.cw__container * {
  box-sizing: inherit;
}

.m1 {
  margin-top: 1rem;
}

.top-thirds {
  height: calc(var(--height) * 0.66);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-third {
  flex-shrink: 0;
  height: calc(var(--height) * 0.33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cw__wheel {
  margin-top: 3rem;
  width: calc(var(--height) / 2);
  align-self: center;
}
.cw__field {
}

.cw__label {
  font-weight: var(--fw, 700);
  /* color: green; */
}

.cw__color-input {
  height: 2.5rem;
  width: 100%;
}

.cw__palette {
  width: 100%;
  height: calc(calc(var(--height) / 8) - 1rem);
  border: 1px solid black;
}

.cw__color-codes {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 1em;
  /* font-size: 0.8em; */
}

.cw__color-codes > div {
  font-size: 0.875em;
  text-align: center;
  font-family: inherit;
}

.select {
  position: absolute;
  top: 0.5rem;
  width: 9rem;
  height: 2.5rem;
  font-family: Sans-serif;
  font-size: 1rem;
}
